/* FONT DECLARATIONS */
@font-face {
  font-family: 'New Spirit Semibold Condensed'; 
  src: url('fonts/New-Spirit-SemiBold-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Regular'; 
  src: url('fonts/New-Spirit-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Bold'; 
  src: url('fonts/New-Spirit-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Light'; 
  src: url('fonts/New-Spirit-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* TYPOGRAPHY RULES */
h1 {
    font-family: 'New Spirit Semibold Condensed';
    font-size: 36px;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'New Spirit Semibold Condensed';
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: 'New Spirit Semibold Condensed';
    font-size: 16px;
    margin: 0;
}

h4 {
    font-family: 'New Spirit Semibold Condensed';
    font-size: 48px;
    margin: 0;
}

h5 {
    font-family: 'New Spirit Semibold Condensed';
    font-size: 12px;
    margin: 0;
}

p {
    font-family: 'New Spirit Regular';
    font-size: 14px;
    margin: 0;
}

/* GENERAL RULES */
body {
    font-family: 'New Spirit Semibold Condensed', sans-serif;
    font-family: 'New Spirit Semibold Condensed', sans-serif;
    background-color: #f9f0dc;
    color: #365aa9;
    /* width: 100vmax; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 89px 0px;
    overflow-x: clip;
}

.hidden {
    visibility: hidden;
    position: absolute;
    height: 50vmin;
    overflow: hidden;
}

.visible {
    visibility: visible;
    position: relative;
}

section {
    /* position: relative; */
    /* top: 195px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

header {
    height: max-content;
    /* display: flex;
    gap: 64px;
    justify-content: right; */
}

footer {
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    width: 85px;
    height: 76px;
    background-color: grey;
}

#hamburger {
    width: 48px;
    height: 48px;
    background-color: grey;
    position: absolute;
    top: 89px;
    right: 35px;
}

.hero {
    width: 100vmin;
    height: 491px;
    background-color: grey;
}

article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 35px 50px 35px;
}

button {
    background-color: #141043;
    width: 324px;
    height: 48px;
    color: #edd498;
    font-family: 'New Spirit Regular';
    font-size: 16px;
    border-radius: 100px;
    border-style: none;
}

/* == HOME PAGE == */
#intro {
    width: 324px;
    /* FIXME later */
}

/* Marquee text */
#marquee-container {
    width: 100vmin;
    overflow: visible;
    white-space: nowrap;
    /* box-sizing: border-box; */
}

#marquee-content {
    /* width: 200vmin;
    height: fit-content;
    padding: 0;
    margin: 0; */
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 100%;
    width: fit-content;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-110%);
    }
}

/* Intro */
#outline-box {
    display: flex;
    border: #141043 1px solid;
    border-radius: 10px;
    padding: 20px;
    gap: auto;
    justify-content: space-between;
}

#outline-box div {
    width: 131px;
}

/* How To Join Us */
#how-to-join {
    background-color: #365aa9;
    color: #f9f0dc;
    padding-bottom: 100px;
}

#how-to-join h1 {
    color: #edd498;
    /* text-align: center; */
}

/* FAQ */
.question {
    color:#f9f0dc;
    background-color: #365aa9;
    padding: 0 10px 0 10px;
    width: fill;
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.q-and-a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.q-and-a p {
    margin: 0;
}

/* == ABOUT == */
#about-description {
    padding-left: 35px;
    padding-right: 35px;
}

#about h2 {
    text-align: center;
}

/* Mission */
#mission {
    overflow-x: visible;
    align-items: center;
}

.about-img {
    width: 323px;
    height: 258px;
    background-color: grey;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 324px;
    overflow-x: visible;
    gap: 10px;
}

#verses-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: clip;
    gap: 10px;
}

#verses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #edd498;
    padding-left: 90px;
    padding-right: 90px;
    width: 100vmin;
    background-color: #365aa9;
    border-radius: 10px;
    height: 24px;
}

/* Values */
.values-content h3 {
    width: 100px;
    height: 42px;
}

.values-content p {
    width: 213px;
}

.values-content {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
}

/* == EVENTS == */
#event-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vmin;
    gap: 30px;
    margin: 0px 35px 0px 35px;
}

.event-content {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}
        /* FIXME: h2 font doesn't look condensed enough */
.event-content h2 {
    width: 90px;
    margin: 0;
}

.event-content p {
    width: 220px;
    margin: 0;
}

/* == MENU == */
#past-items {
    width: 323px;
}

#menu-items {
    margin: 0 35px 0 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: -webkit-fill-available;
}

.item {
    display: flex;
    justify-content: space-between;
    /* width: fill; */
}

.item-img {
    width: 88px;
    height: 88px;
    background-color: grey;
}

.item-description {
    width: 210px;
}

/* == CONTACT == */
#contact-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 30px 0;
}

.contact-addr {
    width: 250;
    display: flex;
    gap: 30px;
    align-items: center;
}

.contact-img {
    width: 60px;
    height: 60px;
    background-color: grey;
}

#contact-paragraph {
    text-align: center;
    width: 227px;
}

/* == GALLERY == */
#gallery-imgs {
    /* look into masonry layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
}

#gallery img {
    width: 100px;
    height: 100px;
    background-color: grey;
}

/* == NAV OVERLAY == */
#nav-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 30px 0;
}


/* For tablets and desktops */
@media screen and (min-width: 768px) {
}