body {
    background-color: #f9f0dc;
    color: #365aa9;
    /* width: 100vmax; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px 0 35px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    position: absolute;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vmax;
}

header {
    height: max-content;
}

footer {
    width: 100vmax;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Marquee text */

/* For tablets and desktops */
@media screen and (min-width: 768px) {
}