@font-face {
  font-family: 'New Spirit Semibold Condensed'; 
  src: url('fonts/New-Spirit-SemiBold-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Regular'; 
  src: url('fonts/New-Spirit-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Bold'; 
  src: url('fonts/New-Spirit-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New Spirit Light'; 
  src: url('fonts/New-Spirit-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'New Spirit Semibold Condensed', sans-serif;
    font-family: 'New Spirit Semibold Condensed', sans-serif;
    background-color: #f9f0dc;
    color: #365aa9;
    /* width: 100vmax; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px 0 35px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    position: absolute;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vmax;
}

header {
    height: max-content;
}

footer {
    width: 100vmax;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Marquee text */

/* For tablets and desktops */
@media screen and (min-width: 768px) {
}